.todo {
  width: 100%;
  border: 1px solid;
  background: brown;
  border-radius: 10px;
  padding: 5px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;

  button {
    margin: auto 2px;
  }
  .delete {
    background: rgb(255, 123, 0);
    padding: 0.8rem;
  }
}
.description {
  /* border: 1px solid; */
  border-radius: 10px;
  width: 100%;
  padding: 1rem;
  background: rgb(18, 58, 69);
}


/* pre text */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
