.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  border-radius: 10px;
  color: white;
  /* padding: 1rem; */

  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 61%,
    rgba(0, 212, 255, 1) 100%
  );
}

.main {
  background: rgb(84, 15, 144);
  border: 1px solid;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 90%;
  max-width: 700px;
}

form {
  width: 95%;
  max-width: 95%;
  border-radius: 1rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.3rem;
  background: coral;
  box-shadow: -2px 2px 5px whitesmoke;
}

.input-field {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;

  input,
  textarea,
  label {
    flex: 1;
  }
}

input,
textarea {
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

button {
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background: rgb(71, 92, 187);
}
button:hover {
  box-shadow: -1px 1px 10px white;
}
button:active {
  box-shadow: -1px 1px 10px rgb(21, 2, 2);
}

.popup {
  background-color: rgb(226, 52, 43);
}

.auth-form {
  margin-top: 3rem;
}

@media (max-width: 620px) {
  form,
  .main {
    max-width: 500px;
  }

  form {
    width: 95%;
  }
}
